{% extends "store/layout.html" %}
  {% block content %}
    <div class="card w-75">
      <div class="card-header">
        <h3 class="card-title">Thank you for your business!</h3>
      </div>
      <div class="card-body">
        <p class="card-text">We charged your credit card for ${{order.total_price}}</p>
        <p class="card-text">You have ordered #{{total_ordered}} items so far and spent ${{total_spent}} with Amadon.com!</p>
        <a href="/" class="btn btn-outline-secondary">Go Back</a>
      </div>
    </div>
{% endblock %}
