{% extends "store/layout.html" %}
  {% block content %}
    <h1>Amadon Store!</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in all_products %}
            <tr>
                <form action="/checkout" method="post">
                    {% csrf_token %}
                    <td>{{product.description}}</td>
                    <td><input type="hidden" name="prod_id" value="{{product.id}}">{{product.price}}</td>
                    <td><select name="quantity" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select></td>
                    <td><input type="submit" class="btn btn-outline-success"value="Buy!"></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  {% endblock %}
